body{
    margin: 0 auto
}
header{
    background-color: blue;
    height: 120px;
}
.container{
    margin: 0 auto;
    width: 1140px;
}
.row{
    display: flex;
}
.logo{
    width: 15%;
    height: 120px;
    background-color: red;

}
.menu-principal{
    width: 70%;
    height: 120px;
    background-color: rebeccapurple;
}
.logo-inst{
    width: 15%;
    height: 120px;
    background-color: aqua;
}
.logo principal{
    margin-top: 24px;
    margin-left: 8px;
}
.logo secundario{
    margin-top: 24px;
    margin-left: 8px;
}
.menu-nav{
    float: right;
}
.menu-nav > ul{
    list-style-type: none;
    overflow: hidden;
}
.menu-nav > ul > li{
    float: left;
}
.menu-nav > ul > li > a{
    color: azure;
}
